.faceRecognition{
    position: relative;
    width: 400px;
    margin: 0 auto;
}
.faceRecognition h2{
    font-family: 'Roboto Mono';
    margin: 0;
    text-transform: capitalize;
}
#inputImage{
    width: 400px;
    height: auto;
}
.bounding-box {
    position: absolute;
    box-shadow: inset 0 0 0 3px #fff;
}
.form{
    width: 50%;
    margin: auto;
    padding: 1rem 0;
}
.name, .probability{
    color: #fff;
}

.enterForm{
    margin: 2rem 0 !important;
    background:linear-gradient(150deg,#0e2151 60%,#374c85);
    border-color: #0e2151;
    outline: none !important;
}

@media screen and (max-width: 500px){
    #inputImage, .faceRecognition{
     width: 100%;
    }
  }